@charset 'utf-8';
*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #f2f2f2;
	color: #8e8e8e;
	font: 12px/1.5 Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,\\5B8B\4F53,sans-serif;
}

/*导航和查询部分样式*/
header{
	min-height: 160px;
}

nav{
	width: 100%;
	z-index: 10;
}

nav div{
	position: relative;
	width: 100%;
	height:10px;
	background-color: #ffffff;
}

.shortCut{
	width: 82%;
	height: 40px;
	padding-left: 9%;
	padding-right: 9%;
	color: #ffffff;
	font-size: 14px;
	background-color: #069215;
}

.shortCut ul{
	text-align: right;
}

.shortCut ul li{
	line-height: 40px;
	display: inline-block;
	margin-left: 20px;
	cursor: pointer;
}

.shortCut ul li:hover,.shortCut ul li a:hover{
	color: #BC1108;
}

.shortCut ul li a{
	color: #ffffff;
	text-decoration: none;
}

/*.shortCut ul li:first-child{
	margin-right: 83.5%;
}*/

#logo{
	position: absolute;
	top: 10px;
	left: 9%;
	z-index: 3;
	width: 180px;
	height: 150px;
	box-shadow: 3px -1px 12px 0 rgba(0,0,0,0.3);
	background-color: #ffffff;
	color: #069215;
	text-align: center;
}

#logo img{
	width: 80%;
	height: auto;
	text-align: center;
}

.makeup{
	width: 82%;
	padding-left: 9%;
	padding-right: 9%;
}

/*筛选部分*/
#search{
	width: 80%;
	min-height: 70px;
	/*height: 60px;*/
	padding-top: 20px;
	padding-left: 20.5%;
	font-size: 14px;
	color: #999;
}

#search ul li{
	display: inline-block;
	margin-right: -4px;
	padding: 7px 10px;
	border: 1px solid #ccc;
	line-height: 25px;
	background-color: #ffffff;
	color: #333;
	cursor: pointer;
}

#search ul li:hover{
	color: #BC1108;
	border-color: #BC1108;
}

#search ul .choose{
	background-color: #BC1108;
	color: #ffffff;
}

#search ul .choose:hover{
	color: #ffffff;
}
.filter input{
	width: 25%;
	padding: 5px 10px;
	line-height: 24px;
	border: 1px solid #ccc;
}

.price input{
	width: 6%;
}

.filter{
	margin-top: 10px;
}

.filter button{
	margin-left: -5px;
	padding: 5px 10px;
	line-height: 24px;
	background-color: #069215;
	color: #ffffff;
	border: 1px solid #069215;
	cursor: pointer;
}

/*#search input{
	width: 80%;
	height: 20px;
	line-height: 20px;
	padding: 5px;
	color: #626262;
}

#search button{
	width: 8%;
	height: 34px;
	margin-left: -4px;
	line-height: 20px;
	padding: 5px;
	border: none;
	background-color: #069215;
	color: #ffffff;
}*/

/*主体内容*/
#main{
	width: 82%;
	padding-left: 9%;
	padding-right: 9%;
}

.content{
	width: 100%;
	margin-top: 20px;
	background-color: #ffffff;
}

.content #houseTitle{
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #069215;
}

.content #houseTitle span{
	margin-left:3%;
}

.content #houseTitle span:first-child{
	display: inline-block;
	margin-left: 0;
	margin-right: 50%;
	width: 12%;
	height: 32px;
	background-color: #069215;
	color: #ffffff;
	font-size: 16px;
	text-align: center;
	padding-top: 8px;
}

.content .sort:hover{
	color: #BC1108;
	cursor: pointer;
}

.content .chooseSort{
	color:  #BC1108;
}

.content li{
	display: flow-root;
	width: 96%;
	padding: 2%;
	border-bottom: 1px solid #dddddd;
	cursor: pointer;
}

.content li:hover{
	background-color: #f8f8f8;
}

.content li:hover .contentTitle{
	color: #BC1108;
}

.content .housePic{
	width: 17.8%;
	border: 1px solid #dddddd;
	padding: 1%;
	float: left;
}

.content .housePic img{
	width: 100%;
	height: auto;
}

.content .aboutText{
	width: 76%;
	float: left;
	padding-left: 2%;
}

.aboutText p{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 35px;
	font-size: 14px;
	color: #666;
}

.aboutText p:first-child{
	font-size: 18px;
	color: #333333;
	font-weight: bold;
}

.aboutText .text{
	width: 80%;
	float: left;
}

.aboutText .city img{
	width: 22px;
	margin-right: 7px;
}

.aboutText .otherInfo{
	width: 20%;
	padding-top: 30px;
	text-align: right;
	font-size: 16px;
	/*font-weight: bold;*/
	color: #BC1108;
	float: left;
}

.aboutText .otherInfo p span{
	color: #BC1108;
}


/*切换页面*/
#switchPage{
	width: 30%;
	margin: 10px auto;
	font-size: 14px;
	text-align: center;
}

#switchPage span{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: #ffffff;
	line-height: 35px;
	border:1px solid #dddddd;
	text-align: center;
	margin-right: 3px;
	cursor: pointer;
}

#switchPage span:hover{
	color: #BC1108;
	border-color: #BC1108;
}

#switchPage #choosePage{
	background-color: #555;
	color: #ffffff;
}

#switchPage span:first-child,#switchPage span:last-child{
	width: 70px;
}

/*脚部*/
footer{
	width: 100%;
	height: 120px;
	border-top: 2px solid #dddddd;
	background-color: #025F0D;
	text-align: center;
	font-size: 16px;
	padding-top: 30px;
}
