@charset 'utf-8';
body{
	background-color: #f3f5f7;
}

.registerForm{
	margin-top: 88px;
}

.row .panel{
	border-radius: 16px;
	border: none;
	width: 68.1%;
	margin: 0 auto;
}

.loginMain{
	margin: 0 auto;
	border-radius: 16px;
}

.loginMain .input{
	width: 75%;
	margin: 0 auto;
	line-height: 14%;
	height: 40px;
	border-radius: 12px;
}

.loginMain .error{
	width: 75%;
	margin: 0 auto;
	color: #FC8C80;
	margin-top: 15px;
	margin-bottom: 15px;
}

/*.loginMain .verificationInput{
	width: 45%;
	float: left;
	height: 40px;
	border-radius: 12px;
}

.loginMain #verification{
	margin-right: 10%;
}

.loginMain button.verificationInput{
	background-color: #F9E2C5;
	border: none;
	color: #8e8e8e;
}*/

#checked{
	text-align: center;
}

#checked input{
	cursor: pointer;
}

.loginMain button.sended{
	background-color: #E0E0E0;
}

.loginMain .mainLabel{
	text-align: center;
	color: #069215;
	font-size: 24px;
	margin-top: 8px;
}

.loginMain .mainLabel label,.loginMain #loginButton label{
	font-weight: 500;
}


.loginMain #loginButton{
	width: 75%;
	margin: 0 auto;
	font-size: 16px;
	text-align: right;
	margin-top: 15px;
	color: #8e8e8e;
}

.loginMain #loginButton a{
	color: #8e8e8e; 
}

.loginMain #loginButton a:hover{
	color: #f94b4b;
}

.loginMain .send{
	width: 100%;
	height: 40px;
	margin: 0 auto;
	border-radius: 0;
	background-color: #069215;
	color: #fff;
	font-size: 16px;
}

.form-control:focus{
	box-shadow: none;
}

#otherWay{
	margin-top: 15px;
	text-align: right;
	padding-right: 12.5%;
}

#otherWay a{
	color: #666;
	font-size: 14px;
}

#otherWay a:hover{
	color:#E74C3C;
}

#otherWay a label{
	width: 25%;
	padding-left: 1%;
	font-weight: normal;
	cursor: pointer;
}